<section class="phx-hero">
  <h1>Suggestion Service</h1>
</section>
<section class="row">
  <span><%= link "Список товаров", to: Routes.good_path(@conn, :index) %></span>
</section>
<section class="row">
  <input type="text" placeholder="Input text" id="suggestion_input"/>
  <input type="button" value="Поиск" id="suggestion_button">
</section>
<section class="row">
  <ul id="suggestion_result" ></ul>
</section>
