<h1>Show Good</h1>

<ul>

  <li>
    <strong>Название:</strong>
    <%= @good.title %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @good.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.good_path(@conn, :edit, @good) %></span> |
<span><%= link "Back", to: Routes.good_path(@conn, :index) %></span>
